@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-no-wrap {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    }
.flex-no-wrap::-webkit-scrollbar {
    display: none; 
    }